body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

h1 {
  color: goldenrod;
}

div {
  margin: 10px auto;
  text-align: center;
  width: 200px;
}

.btn {
  background-color: goldenrod;
  border: none;
  border-radius: 3px;
  color: #016f32;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 6px 0;
  margin: 3px auto;
  width: 150px;
}

#message {
  font-style: italic;
}

#draw {
  display: none;
}
