body {
  margin: 0;
  min-width: 500px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}

hr {
  width: 450px;
}

#input {
  border: 1px solid #5f9341;
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 450px;
}

#input-btn {
  background: #5f9341;
  border: none;
  color: white;
  font-weight: bold;
  margin-right: 20px; 
  padding: 10px 40px;
}

#clear-btn {
  background: #dd465a;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
}
